$secondary-color: #3c5e8b !default;
$pure-white: #ffffff !default;
$easy-gray: #f0f0f0 !default;
$mid-gray: #d3d3d3 !default;
$warm-gray: #9b9b9b !default;
$color-gray: #747474 !default;
$dark-gray: #555555 !default;
$dark-gray-one: #3a3a3a !default;
$dark-gray-two: #2b2b2b !default;
$hard-black: #161616 !default;
$pure-black: #000000 !default;

$black-overlay: #00000040 !default;
$black-overlay-hard: #000000c5 !default;
$gray-overlay: #ffffff1c !default;
$white-overlay: #ffffff9e !default;
$green-light: #5ffa2f !default;
$transparent: #00000000 !default;
